/*
Baseball Roster and Team Organizer

File Picker Styles

Old Guy Programmer
2025
*/

@import "../../src/globals.scss";

.filepicker {
  display: inline-grid;
  color: white;
  background-color: $card-background-color;
  border: 5px solid $border-radius-color;
  border-radius: 5px;
}
