/*
Baseball Roster and Team Organizer

Menubar styling

Old Guy Programmer
2025
*/

@import "../../src/globals.scss";

.menubar {
  padding: 10px 10px;
  width: 100%;
  background-color: lightgray;
  font-family: Bosox-full;
  font-size: 4rem;
  text-decoration: none;
  color: $text-color;
  a {
    font-size: 3rem;
  }
}
