/*
Baseball Roster and Team Organizer

Menubar styling

Old Guy Programmer
2025
*/

@import "../../src/globals.scss";

.menubar {
  padding: 10px 10px;
  width: 100%;
  background-color: lightgray;
  font-family: Bosox-full;
  font-size: 2rem;
  .dropdown {
    background-color: lightblue;
  }
  a {
    color: $text-color;
    text-decoration: none;
    padding: 20px;
  }
}
