/*
Baseball Roster and Team Organizer

GEneral Forms Styles

Old Guy Programmer
2025
*/

@import "../styles/main.scss";

.form-container {
  margin: 0 auto;
  font-family: Bosox-full;
  background-color: lightgray;

  width: 50vw;

  label {
    font-size: 3rem;
  }
  .btn {
    font-size: 2.5rem;
    background: $card-background-color;
    color: $card-text-color;
  }
}
