/*
Baseball Roster and Team Organizer

Global Sass variables

Old Guy Programmer
2025
*/

$text-color: rgb(51, 50, 50);
$card-text-color: rgba(226, 195, 195, 0.801);
$card-background-color: rgb(51, 50, 50);

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

.no-limits {
  font-size: 3vw;
}

.limit-min {
  @include responsive-font(7.5vw, 20px);
}

.limit-min-max {
  @include responsive-font(3vw, 20px, 50px);
}
