/*
Baseball Roster and Team Organizer

Main scss file

Old Guy Programmer
2025
*/

@import "globals.scss";

@font-face {
  font-family: "Rooster";
  src: url("../../fonts/RoosterPersonalUse-3z8d8.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Branball";
  src: url("../../fonts/BrannbollFPersonalUseOnly-8wvz.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bosox";
  src: url("../../fonts/Bosox-njB1.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bosox-full";
  src: url("../../fonts/BosoxFull-1ege.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bosox-outline";
  src: url("../../fonts/BosoxOutline-RBmo.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bosox-outline-heavy";
  src: url("../../fonts/BosoxOutlineHeavy-9WOy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: serif;
  font-size: 20px;
  background-image: url("1879710.jpg");
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

.browser-warning {
  display: none;
}
