/*
Baseball Roster and Team Organizer

Player list styles

Old Guy Programmer
2025
*/

@import "../styles/main.scss";

.player-list {
  display: flex;
  justify-content: flex-start;
}

.players-container {
  @include players-container;
}
span {
  font-size: 2em;
}
