/*
Baseball Roster and Team Organizer

Load Players Styles

Old Guy Programmer
2025
*/

@import "../styles/main.scss";

.players-list {
  display: inline-block;
  text-align: left;
  font-family: Bosox-full;
  border: 3px solid;
  background-color: lightgrey;
  height: 500px;
  overflow: hidden scroll;
  cursor: pointer;
  position: absolute;
  bottom: 10;
}

.help-container {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin-left: 20px;
  h1 {
    font-size: 2em;
  }
  p li {
    font-size: 1.5em;
  }
}

.player-list-area {
  display: grid;
  grid-template-rows: 2;
  .input-area {
    .btn {
      font-size: 2.5rem;
      background: $card-background-color;
      color: $card-text-color;
    }
    textarea {
      font-family: "Times New Roman", Times, serif;
      font-size: 1em;
      height: 50vh;
      width: 50%;
    }
  }
}
