/*
Baseball Roster and Team Organizer

Input Styles

Old Guy Programmer
2025
*/

@import "../../src/globals.scss";

.form-container {
  text-align: center;
  font-family: Bosox-full;
}

form {
  display: inline-grid;
  background-color: lightgray;

  width: 50vw;

  label {
    font-size: 3rem;
  }
  .btn {
    font-size: 2.5rem;
    background: $card-background-color;
    color: $card-text-color;
  }
  p li {
    font-size: 20px;
    text-align: left;
  }

  textarea {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    height: 600px;
    width: 100%;
  }
}
